
.menu {
    padding: 60px;
}

.menu h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    color: #8B0000;
}

.menu-category {
    margin-bottom: 60px;
}

.menu-category h2 {
    font-size: 32px;
    color: #8B0000;
    margin-bottom: 25px;
    margin-left: 0;
    text-align: left;
}


.menu-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-card {
    width: 280px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-card h3 {
    margin: 15px 0 10px;
}

.menu-card p {
    padding: 0 15px;
    margin-bottom: 10px;
}

.price {
    color: #8B0000;
    font-weight: bold;
    font-size: 22px;
}
    img{
    transition: 0.4s;
}

img:hover{
    transform: scale(1.03);
}
footer{
    background: #8B0000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
@media (max-width:768px){

    nav{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
        margin-top:20px;
    }

    nav ul li{
        margin:10px 0;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .cards,
    .menu-cards,
    .gallery-images,
    .about-content,
    .contact-container{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .about-image img{
        width:100%;
    }

    .contact-form,
    .contact-info{
        width:100%;
    }

}
