
.about{
    padding:60px;
}

.about h1{
    text-align:center;
    font-size:45px;
    color:#8B0000;
    margin-bottom:50px;
}

.about-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.about-image img{
    width:500px;
    border-radius:15px;
}

.about-text h2{
    margin-bottom:20px;
    color:#8B0000;
}

.about-text p{
    margin-bottom:20px;
    line-height:1.8;
    font-size:18px;
}
img{
    transition: 0.4s;
}

img:hover{
    transform: scale(1.03);
}
footer{
    background: #8B0000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
@media (max-width:768px){

    nav{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
        margin-top:20px;
    }

    nav ul li{
        margin:10px 0;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .cards,
    .menu-cards,
    .gallery-images,
    .about-content,
    .contact-container{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .about-image img{
        width:100%;
    }

    .contact-form,
    .contact-info{
        width:100%;
    }

}